<!-- <h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">Lista de cursos.</div>
<div *ngIf="cursos.length == 0">Não existem cursos para serem listados.</div>

<div *ngIf="mostrarCursos">Lista de cursos.</div>
<div *ngIf="!mostrarCursos">Não existem cursos para serem listados.</div>

<br />
-->
<button (click)="onMostrarCursos()">Mostar ou esconder cursos</button>

<h5>Removendo o * e ussando template</h5>

<div *ngIf="mostrarCursos">Lista de cursos 1.</div>

<ng-template [ngIf]="mostrarCursos">
  <div>Lista de cursos 2.</div>
</ng-template>
